template(name="jobPreview")
  .well.job-preview.row
    .col.colspan-3
      h3.h4
        if company.id
          img.inline-project-picture(src="https://avatars.githubusercontent.com/u/#{company.id}")
        | #{title}
      .text-muted.sub-header
        if compare issue.state '===' 'closed'
          b.text-danger CLOSED
          |  &middot; 
        b {{getFirst category}}
        if location.country
          | &middot; #{location.country}
          if location.city
            |, #{location.city}
        | &middot; {{getFirst availability}}
        if isRemote
          | &middot; 
          b Remote
    div(class="{{#if isSmall}}well-container text-center{{else}}col{{/if}}")
      if compare currentUser._id '===' owner
        a.btn.btn-black.mb-02(class="{{#if isSmall}}btn-block{{/if}}" href="{{pathFor 'job' number=issue.number}}") View
        b.text-center.text-muted: a(class="{{#if isSmall}}btn-block{{/if}}" href="{{pathFor 'editjob' number=issue.number}}") Edit
      else if isApplied
        a.btn.btn-black.mb-02(class="{{#if isSmall}}btn-block{{/if}}" href="{{pathFor 'job' number=issue.number}}") View
        b.text-center.text-muted.nowrap <i class="fa fa-check text-success"></i> Applied
      else
        a.btn.btn-success(class="{{#if isSmall}}btn-block{{/if}}" href="{{pathFor 'job' number=issue.number}}") Apply