template(name="job")
  main.container.row
    .col.centered
      with job
        .well-container
          h1.h1
            if company.id
              img.inline-project-picture(src="https://avatars.githubusercontent.com/u/#{company.id}")
            | #{title}
          .text-muted.sub-header
            if compare issue.state '===' 'closed'
              b.text-danger CLOSED
              |  &middot; 
            | Posted by <a href="{{pathFor 'profilePage' number=user.issue.number}}"><b>#{company.title}</b></a>

        .well-container: ul.list-unstyled.job-details
          if location
            if compare location.country '&&' location.city
              li <b>Location/Timezone</b>: #{location.city}, #{location.country}
            else if location.country
              li <b>Country/Timezone</b>: #{location.country}
          li
            | <b>Open for remote</b>?
            if isRemote
              <strong class="text-success">Yes</strong>
            else
              <strong class="text-danger">No</strong>
          li
            | <b>Type</b>: 
            each availability
              a.btn.btn-tag(data-tag="availability" href="#") #{this}
          li
            | <b>Categories</b>: 
            each category
              a.btn.btn-tag(data-tag="category" href="#") #{this}
          li
            | <b>Required skills</b>: 
            each skills
              a.btn.btn-tag(data-tag="skills" href="#") #{this}

        .well.markdown-body
          +markdown
            #{body}

        if compare owner '===' currentUser._id
          .well-container
            if isProcessing
              button.btn.btn-grey.disabled(type="button" disabled) processing... <i class="fa fa-spinner fa-pulse"></i>
            else
              if compare issue.state '===' 'closed'
                button.btn.btn-success(data-job-open title="Reopen Job Post") Reopen
              else
                a.btn.btn-primary(href="{{pathFor 'editjob' number=issue.number}}") Edit
                | &nbsp; 
                button.btn.btn-danger(data-job-close title="Close Job Post") Close
        else if compare currentUser.profile.type '===' 'candidate'
          if isApplied
            button.btn.btn-lg.btn-success.disabled(type="button" disabled) <i class="fa fa-check"></i> Applied
          else if compare issue.state '===' 'closed'
            p.text-muted This position is closed
          else
            if openApply
              form.form(data-apply)
                textarea.mono.form-control(name="coverLetter" class="{{#if getError 'coverLetter'}}hasError{{/if}}" placeholder="Cover letter" rows="12" required maxlength="2048")
                  | Hello!
                  | I'm interested in this position, please take a look at [my profile]({{urlFor 'profilePage' number=currentUser.profile.issue.number}}) and my GitHub account @#{currentUser.profile.github.username}
                p.form-hint 
                  if getError 'coverLetter'
                    span.form-error {{getError 'coverLetter'}}
                  else
                    | Tell why you are the best fit for this position and how company can reach out to you. <b>Note: This response will be public!</b>

                if isProcessing
                  button.btn.btn-grey.btn-lg.disabled(type="button" disabled) Applying... <i class="fa fa-spinner fa-pulse"></i>
                else
                  button.btn.btn-lg.btn-success(type="submit") Apply Now
                  | &nbsp; 
                  button.btn.btn-lg.btn-grey(type="button" data-toggle-apply) Cancel
            else
              button.btn.btn-lg.btn-success(data-toggle-apply type="button") Apply
        else if compare issue.state '===' 'closed'
          p.text-muted This position is closed
        else if compare currentUser.profile.type '===' 'company'
          p.text-muted &nbsp;
        else
          a.btn.btn-lg.btn-success(href="{{pathFor 'login'}}") Apply

        .well-container
          ul.list-unstyled.text-muted
            li View <a href="{{pathFor 'profilePage' number=user.issue.number}}"><b>#{company.title}</b> profile</a> page
            li View this job post at GitHub <a href="https://github.com/#{meteorSettings.repo.org}/#{meteorSettings.repo.jobs}/issues/#{issue.number}" target="_blank" rel="noopener noreferrer" title="Open GitHub Issue">##{issue.number}</a>
            if company.login
              li View <b>#{company.title}</b> account at GitHub <a href="https://github.com/#{company.login}" target="_blank" rel="noopener noreferrer" title="Company account at GitHub">@#{company.login}</a>
            li View manager's account at GitHub <a href="https://github.com/#{user.login}" target="_blank" rel="noopener noreferrer" title="Manager's account at GitHub">@#{user.login}</a>
      else
        +_404