template(name="job")
  main.container.row
    .col.centered
      with job
        .well
          h1.h2 
            if company.id
              img.inline-project-picture(src="https://avatars.githubusercontent.com/u/#{company.id}")
            | #{title}
          h2.sub-header
            | Posted by
            a(href="https://github.com/#{user.login}")
              img.inline-user-picture(src="#{user.avatarUrl}")
              |  @#{user.login}
            if company.login
              br
              | Representing: 
              a(href="https://github.com/#{company.login}")
                img.inline-user-picture(src="https://avatars.githubusercontent.com/u/#{company.id}")
                if company.title
                  | #{company.title}
                else
                  | @#{company.login}
            else if company.title
              br
              | Representing: <b>#{company.title}</b>

          h3.h3 Details

          ul.list-unstyled.job-details
            if location
              if compare location.country '&&' location.city
                li <b>Location/Timezone</b>: #{location.city}, #{location.country}
              else if location.country
                li <b>Country/Timezone</b>: #{location.country}
            li
              | <b>Open for remote</b>?
              if isRemote
                <strong class="text-success">Yes</strong>
              else
                <strong class="text-danger">No</strong>
            li
              | <b>Type</b>: 
              each availability
                a.btn.btn-tag(href="#") #{this}
            li
              | <b>Categories</b>: 
              each category
                a.btn.btn-tag(href="#") #{this}
            li
              | <b>Required skills</b>: 
              each skills
                a.btn.btn-tag(href="#") #{this}

          h3.h3 Job Description
          +markdown
            #{body}

          hr

          span.text-muted View this job post at GitHub <a href="https://github.com/#{meteorSettings.repo.org}/#{meteorSettings.repo.jobs}/issues/#{issue.number}" target="_blank" rel="noopener noreferrer" title="Open GitHub Issue">##{issue.number}</a>
        if compare owner '===' currentUser._id
          .well
            if isProcessing
              button.btn.btn-grey.disabled(disabled) processing... <i class="fa fa-spinner fa-pulse"></i>
            else
              if compare issue.state '===' 'closed'
                button.btn.btn-success(data-job-open title="Reopen Job Post") Reopen
              else
                a.btn.btn-primary(href="{{pathFor 'editjob' number=issue.number}}") Edit
                | 
                button.btn.btn-danger(data-job-close title="Close Job Post") Close
        else if compare currentUser.profile.type '===' 'candidate'
          if compare issue.state '===' 'closed'
            p.text-muted This position is closed
          else
            if openApply
              form.form(data-apply)
                textarea.form-control(name="coverLetter")
                  | Hello!
                  | I'm interested in this position
                p.form-hint Tell why you are the best fit for this position
                button.btn.btn-lg.btn-success(type="submit") Apply Now
                button.btn.btn-lg.btn-grey(type="submit") Cancel
            else
              button.btn.btn-lg.btn-success(data-toggle-apply type="button") Apply
      else
        +_404